  .parallax_about {
  /* The image used */
  background-image: url("about_parallax.png");
  

  /* Set a specific height */
  min-height: 100px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
    /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */ 
    @media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
}

.parallax_events {
    /* The image used */
    background-image: url("events_parallax.png");
    
  
    /* Set a specific height */
    min-height: 100px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
  
 
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
  }
}
  .parallax_contact {
    /* The image used */
    background-image: url("contact_parallax.png");
    
  
    /* Set a specific height */
    min-height: 100px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    
    @media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
  }

  .parallax_gallery {
    /* The image used */
    background-image: url("gallery_parallax.png");
    
  
    /* Set a specific height */
    min-height: 100px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    
    @media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
  }

  .parallax_team {
    /* The image used */
    background-image: url("team_parallax.png");
    
  
    /* Set a specific height */
    min-height: 100px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    
    @media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
    
  }

  
